<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
        
<ion-content [fullscreen]="true" color="light" class="ion-padding">
  <div class="wrapper">
    <div class="typing-demo">
        The fear comes at night
    </div>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Historia</ion-card-title>
      <ion-card-subtitle>The Fear Comes At Night</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      La historia nos cuenta sobre un agente que descubre una secta causante de muchos homicidios
       pero al tratar al lider de estos las cosas se empiezan a descontrolar pues algo asecha en la 
       oscuridad y algo no cuadra, todo esto deja algo claro, el miedo llega de noche
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img alt="Silhouette of mountains" src="../assets/img/logo1.jpg" />
  </ion-card>
  
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
